/*--------------------------Header------------------------------*/

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
  background-color: #28282b;
}

nav {
  width: 24%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
}
.navLink:hover {
  text-decoration: line-through;
}

/*-------------------------Footer-------------------------------*/

footer {
  background-color: #28282b;
  padding: 3%;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
}
footer a:hover {
  text-decoration: line-through;
}
