$color-charcoal: #2a3d45;
$color-cade_gray: #76949f;
$color-tiffany-blue: #86bbbd;
$color-sandy-brown: #f0a868;
$color_apricot: #f9d4bb;

/*--------------------------Header------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  padding-left: 4%;
  padding-right: 4%;
  background-color: $color-charcoal;
}

nav {
  width: 10%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  color: white;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
}
.navLink:hover {
  text-decoration: line-through;
}
/*-------------------------Home Page-------------------------------*/

.home-page {
  height: 80vh;
  background-image: url("https://images.unsplash.com/uploads/1412533519888a485b488/bb9f9777?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page h1 {
  text-align: center;
  font-size: 6rem;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

/*-------------------------Form Layout-------------------------------*/

.form-layout {
  display: flex;
  height: 80vh;
}
.form-layout main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-layout img {
  width: 50%;
  object-fit: cover;
}
/*-------------------------Health Board-------------------------------*/
.dashboard {
  height: 100vh;
  background-color: $color_tiffany-blue;
}

.dashboard h2 {
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  padding-top: 5%;
}

.workouts-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.workout-row {
  width: 40%;
  background-color: #28282b;
  color: $color_apricot;
  padding: 2%;
}

.workout-row:hover {
  background-color: $color-charcoal;
  color: $color-sandy-brown;
  border: 0.5px solid white;
}

/*-------------------------Add Workout-------------------------------*/

.add-run-form {
  border: 1px solid $color-charcoal;
  border-radius: 12px;
  width: 40%;
  padding: 2%;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px $color-charcoal;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.clear-modal {
  width: 97%;
  display: flex;
  justify-content: end;
}

.add-workout-button {
  position: absolute;
  left: 90%;
  top: 20%;
  border: 1px solid gray;
  background-color: #5cb85c;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

/*-------------------------login Form-------------------------------*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switch-form-link {
  text-align: center;
  text-decoration: none;
  color: blue;
  font-size: 15px;
  margin-top: 15px;
}

/*-------------------------Footer-------------------------------*/

footer {
  background-color: $color-charcoal;
  padding: 3%;
}
footer a {
  text-decoration: none;
  color: whitesmoke;
}
footer a:hover {
  text-decoration: line-through;
}
